*.o
*.a
*.so
*.lo
*.la
*.in
Makefile
.deps
.libs
autom4te.cache
aclocal.m4
config.guess
config.h
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
ylwrap
wht/parser.c
wht/parser.h
wht/scanner.c
wht/scanner.h
wht/codelets/*.c
wht/codelets/codelet_registry.h
wht/wht_attach
wht/wht_classify
wht/wht_verify
whtgen/whtgen
rand/wht_rand
measure/wht_measure

